{% extends "base.html" %}

{%block content%}
<div class="content">
	<h3>■ 12星座 ■</h3>
	<div class="stars">
		<div class="star-item">
			<!-- 获取模板数据：星座图片-->
			<a href="/star/fortune?star=aries"><img src=""></a>
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=taurus"><img src=""></a>
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=gemini"><img src=""></a>
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=cancer"><img src=""></a>
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=leo"><img src=""></a>
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=virgo"><img src=""></a>
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=libra"><img src=""></a>
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=scorpio"><img src=""></a>
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=sagittarius"><img src=""></a>
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=capricorn"><img src=""></a>
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=aquarius"><img src=""></a>
		</div>
		<div class="star-item">
			<a href="/star/fortune?star=pisces"><img src=""></a>
		</div>
	</div>
</div>
{%endblock%}
