<!DOCTYPE html>
<html>
	<head>
		<title>少年锦衣卫</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/css/11/sj.css">
	</head>
	<body>
		<div class="container">
			<ul class="info">
				<!--请在下方写你的代码：模板for循环展示数据-->

				<li>
					<!--展示信息图片-->
					<img src="/static/images/11/sj/">
					<div>
						<!--展示标题和内容-->
						<h5 class="title"></h5>
						<p class="content"></p>
					</div>
					
				</li>
				{%endfor%}
			</ul>
		</div>
	</body>
</html>
