<!DOCTYPE html>
<html>
<head>
    <title>古墓丽影</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/tomb.css">
</head>
<body>
<div class="container">
    <video src="/static/images/tomb/tr-free-loop.mp4" autoplay loop></video>
    <div class="content">
        <div class="weapons">
            <!--请在下方写你的代码：使用模板for循环展示数据-->

            <div class="weapon">
                <img src="/static/images/tomb/<!--武器图片-->">
                <p class="name"><!--武器名称--></p>
                <p class="type"><!--武器类型--></p>
            </div>

        </div>
    </div>
</div>
</body>
</html>
