<!DOCTYPE html>
<html>
	<head>
		<title>风暴英雄</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/css/storm.css">
	</head>
	<body>
		<div class="container">
			<div class="slice-up">
				<span class="more">展开 >></span>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/static/js/jquery/jquery.min.js"></script>
	<script type="text/javascript">
		var more = document.getElementsByClassName('more')[0];
		var slice = document.getElementsByClassName('slice-up')[0];
		more.onclick = function() {
			// 请在下方写你的代码:发送ajax请求，获取响应展示在页面中

		};
	</script>
</html>
