*{margin:0;padding:0;}
body{margin:0;padding:0;padding-top: 40px;}
.logo{width:540px;height:258px;background: url(/static/images/bd_logo.png) no-repeat top center/cover;margin:auto;}
.search{display:block;width:650px;height:40px;margin:auto;margin-top:20px;}
.search input{float:left;}
.search input[type=text]{width:536px;height:40px;border:1px solid #b8b8b8;border-right: 0;outline: none;box-shadow: none;font-size: 16px;box-sizing: border-box;padding-left:10px;}
.search input[type=submit]{width:102px;height:40px;border:1px solid #38f;background: #38f;color:white;outline: none;cursor: pointer;}