html, body, * {
    margin: 0;
    padding: 0;
}

.container {
    width: 1348px;
    height: 1702px;
    background: url(/static/images/clash/clash.png) no-repeat top center/cover;
    margin: auto;
    position: relative;
}

.hot {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 330px;
    left: 700px;
}

.date {
    color: #000000;
    opacity: 0.5;
    font-family: Arial, Lantinghei SC, Hiragino Sans GB, SimHei, sans-serif;
    margin: 0;
    font-size: 13px;
    margin-top: 30px;
}

.title {
    text-shadow: 0 4px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.content {
    font-size: 15px;
    line-height: 1.5;
    color: #858585;
    margin-top: 20px;
}
