<!DOCTYPE html>
<html>
	<head>
		<title>工作细胞</title>
		<meta charset="utf-8">
		<style type="text/css">
			.container {
				width: 1348px;
				height: 4440px;
				background: url(static/images/cells/cells.png) no-repeat top center/cover;
				margin: auto;
				position: relative;
			}
			.notice {
				position: absolute;
				height: 60px;
				top: 10px;
				left: 100px;
				color:white;
				font-size: 80%;
			}
			
		</style>
	</head>
	<body>
		<div class="container">
			<div class="notice">
		<!--		判断info是否存在		-->

				{% if info %}
					{{ info }}
				{% else %}
					暂无
				{% endif %}
				
						
			</div>

		</div>
	</body>
</html>
